body {
  margin: 0;
  background: #f7f7f7;
  font-family: monospace;
  text-align: center;
}

canvas {
  display: none;
  margin-top: 50px;
  background: #f7f7f7;
}

.screen {
  margin-top: 100px;
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.final-img {
  margin-top: 20px;
  max-width: 80%;
  border-radius: 10px;
}